{% extends 'base.html.twig' %}

{% block title %}Bonjour à toi Utilisateur de Sortie.com !{% endblock %}

{% block body %}

    <div>
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p><br>
{#        <p>Participant : {{participant.username}}</p>#}
    </div>

{#    <h3>Filtrer les sorties</h3>#}
{#    {{form_start(sortieForm)}}#}
{#    {{form_row(sortieForm.campus)}}#}
{#    {{form_row(sortieForm.nom)}}#}
{#    {{form_row(sortieForm.dateHeureDebut)}}#}
{#    {{form_row(sortieForm.dateLimiteInscription)}}#}
{#    <button>Rechercher</button>#}

    <div>
        {# Tableau des sorties #}
    </div>

    <form action="creerSortie.html.twig">Créer une sortie</form>


{% endblock %}
