{% extends 'base.html.twig' %}

{% block link %}
<link rel="stylesheet" href="{{asset('css/pageAccueil.css')}}">
{% endblock %}

{% block title %}Bonjour à toi Utilisateur de Sortie.com !{% endblock %}

{% block body %}
    <div>
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
        {% if app.user%}
            <p>Participant : {{app.user.userIdentifier}}</p>
        {% endif %}
    </div>

    <h3>Filtrer les sorties</h3>
    {{form_start(sortieForm)}}
    {{form_row(sortieForm.campus)}}
    {{form_row(sortieForm.nom)}}
    {{form_row(sortieForm.dateHeureDebut)}}
    {{form_row(sortieForm.dateHeureFin)}}
    {{form_row(sortieForm.sortiesOrga)}}
    {{form_row(sortieForm.sortiesInscris)}}
    {{form_row(sortieForm.sortiesPasInscris)}}
    {{form_row(sortieForm.sortiesPassees)}}
    <button>Rechercher</button>
    {{form_end(sortieForm)}}

    <div>
        <table>
            <thead>
            <tr>
                <td>Nom de la sortie</td>
                <td>Date de la sortie</td>
                <td>Clôture</td>
                <td>inscrits/places</td>
                <td>Etat</td>
                <td>Inscrit</td>
                <td>Organisateur</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
                {% for sortie in sortieList|sort ((a, b) => a.dateHeureDebut <=> b.dateHeureDebut) %}
                    <tr>
                        <td>{{sortie.nom}}</td>
                        <td>{{sortie.dateHeureDebut|date('d/m/Y H:i')}}</td>
                        <td>{{sortie.dateLimiteInscription|date('d/m/Y')}}</td>
                        <td>{{sortie.nbInscriptionMax}}</td>
                        <td>{{sortie.etat}}</td>
                        <td>{{sortie.inscrit}}</td>
                        <td>{{sortie.organisateur}}</td>
{#                        <td>{{sortie.actions}}</td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button onclick="href='creerSortie.html.twig'">Créer une sortie</button>

{% endblock %}
