{% extends 'base.html.twig' %}

{% block title %}Bonjour à toi Utilisateur de Sortie.com !{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('css/pageAccueil.css')}}">
{% endblock %}


{% block nav %}
    <nav class="menu">
        <ul>
            {% if app.user %}
                <li><a href="{{path('lieu_villes')}}">Villes</a></li>
                <li><a href="{{path('lieu_campus')}}">Campus</a></li>
                <li><a href="{{path('sortie_accueil')}}">Accueil</a></li>
                <li><a href="{{path('participant_edit')}}">Mon profil</a></li>
                <li><a href="{{path('app_logout')}}" title="Se déconnecter">Se déconnecter</a></li>
            {% else %}
                <li><a href="{{path('app_login')}}" title="Se connecter">Se connecter</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}


{% block body %}
    <div>
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
        {% if app.user%}
            <p>Participant : {{app.user.userIdentifier}}</p>
        {% endif %}
    </div>

    <div>
    <h3>Filtrer les sorties</h3>
    {{form_start(sortieForm)}}
    {{form_row(sortieForm.campus)}}
    {{form_row(sortieForm.nom)}}
    {{form_row(sortieForm.dateHeureDebut)}}
    {{form_row(sortieForm.dateHeureFin)}}
    {{form_row(sortieForm.sortiesOrga)}}
    {{form_row(sortieForm.sortiesInscris)}}
    {{form_row(sortieForm.sortiesPasInscris)}}
    {{form_row(sortieForm.sortiesPassees)}}
    {{form_row(sortieForm.rechercher)}}
    {{form_end(sortieForm)}}
    </div><br>

    <div>
        <table>
            <thead>
            <tr>
                <td>Nom de la sortie</td>
                <td>Date de la sortie</td>
                <td>Clôture</td>
                <td>inscrits/places</td>
                <td>Etat</td>
                <td>Inscrit</td>
                <td>Organisateur</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
                {% for sortie in sortieList %}
{#                    |sort ((a, b) => a.dateHeureDebut <=> b.dateHeureDebut) %}#}
                    <tr>
                        <td>{{sortie.nom}}</td>
                        <td>{{sortie.dateHeureDebut|date('d/m/Y H:i')}}</td>
                        <td>{{sortie.dateLimiteInscription|date('d/m/Y')}}</td>
                        <td>{{sortie.participants.count()}} / {{sortie.nbInscriptionMax}}</td>
                        <td>{{sortie.etat}}</td>
                        <td>
                            {% if app.user in sortie.participants %} X
                            {% endif %}
                        </td>
                        <td><a href="{{path('participant_detail', {'id' : sortie.organisateur.id}) }}">{{sortie.organisateur.nom}}</a></td>
{#                            {% for participant in participants %}#}
{#                                {% if (participant == sortie.organisateur) %}#}
{#                            {% endfor %}#}
                        <td>
                        {% if (sortie.etat.libelle != 'Créée')%}
                            <button onclick="location.href = '{{path('sortie_displaySortie', {'id' : sortie.id}) }}'" id="displaySortie">Afficher</button>
                        {% endif %}

                        {% if (sortie.etat.libelle == 'Créée') and (app.user == sortie.organisateur)%}
                            <button onclick="location.href = '{{path('sortie_modifierSortie', {'id' : sortie.id}) }}'" id="modifierSortie">Modifier</button>
                            <button onclick="location.href = '{{path('sortie_accueil')}}'" id="publierSortie">Publier</button>
{# faire appel à la fonction publier sortie qui sera indépendante, modif à faire cf notes, {{path('sortie_publierSortie')}} #}
                        {% endif %}

                        {% if (sortie.etat.libelle == 'Ouverte') and (app.user not in sortie.participants) and (sortie.participants|length < sortie.nbInscriptionMax)%}
                            <button onclick="location.href = '{{path('sortie_accueil')}}'" id="inscrire" >S'inscrire</button>
{# voir pour rentrer le participant dans la liste des participants de la sortie + ajouter 1 au compteur des inscrits de la sortie + ajouter une sortie à la liste #}
                        {% endif %}

                        {% if (sortie.etat.libelle == 'Ouverte') or (sortie.etat.libelle == 'Fermée') and (app.user in sortie.participants) and (app.user != sortie.organisateur) %}
                            <button onclick="location.href = '{{path('sortie_accueil')}}'" id="desister">Se désister</button>
{# voir pour sortir le participant de la liste des participants de la sortie + enlever 1 au compteur des inscrits de la sortie et retirer la sortie de la liste #}
                        {% endif %}
                        {% if (sortie.etat.libelle == 'Ouverte') and (app.user == sortie.organisateur)%}
                            <button onclick="location.href = '{{path('sortie_accueil')}}'" id="annuler">Annuler</button>
{# voir pour setter l'état de la sortie à Annulée avec le annuler #}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><br>

    <a href="{{path('sortie_creerSortie')}}"><button type="button" name="creer" onclick="location.href='creerSortie.html.twig'">Créer une sortie</button></a>

{% endblock %}
