<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eni-sorti{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% block link %}{% endblock %}
    </head>
    <body>
        <header>
            {% block logo %}
                <a class="site-title" href="{{path('sortie_accueil')}}" title="Go Back Home">
                    <img src="{{asset(('images/logoPioche.jpg'))}}" alt="Sortie-ENI">
                </a>
            {% endblock %}
{#            <h1>Eni-Sorti - Groupe 1 </h1>#}
            {% block nav %}
                <nav class="menu" id="liens">
                    <ul>
                        {% if app.user%}
                            <li><a href="{{path('sortie_accueil')}}">Accueil</a></li>
                            <li><a href="{{path('participant_edit')}}">Mon profil</a></li>
                            <li><a href="{{path('app_logout')}}" title="Se déconnecter">Se déconnecter</a></li>
                        {%else%}
                            <li><a href="{{path('app_login')}}" title="Se connecter">Se connecter</a></li>
                        {%endif%}
                    </ul>
                </nav>
            {% endblock %}

        </header>

        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}



            {% block body %}

            {% endblock %}

            {% block add %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
                <a href="{{path('mentionLegal')}}" title="Mentions Légales">Mentions Légales</a>
                &copy; {{"now"|date("Y") }} - Sorties by ENI-RD2WM012F-Groupe1 ;)
            {% endblock %}

        </footer>

    </body>
</html>
